<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


<!-- View Employee -->
<div class="container">
    <div class="row">
        <div *ngFor="let employee of employees" class="col-md-6 col-xl-3">
            <div class="card m-b-30">
                <div class="card-body row">
                    <div class="col-6">
                        <a href=""><img src="https://bootdey.com/img/Content/avatar/avatar{{employee?.id}}.png" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0">
                        <h5>{{employee?.name}}</h5>
                        <p class="m-0">{{employee?.jobTitle}}</p>
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a
                            href="#">{{employee?.email}}</a></li>
                    <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{employee?.phone}}</li>
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip"
                            data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                        <button href="#" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete" (click)="deleteEmp(employee?.id!)"><i class="fa fa-times"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
  


  <!-- Add Employee -->
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header"> <h1>Add Employee</h1>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form #editForm="ngForm">
                <div class="form-group">
                   <label for="name">Name</label>
                   <input matInput type="text" name="title" #title="ngModel" [(ngModel)]="addEmployee.name" required minlength="4" class="form-control" placeholder="Name">
                </div>
                <div class="form-group">
                  <label for="name">Email</label>
                  <input matInput type="text" name="title" #title="ngModel" [(ngModel)]="addEmployee.email" required minlength="4" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                   <label for="phone">Job title</label>
                   <input matInput type="text" name="title" #title="ngModel" [(ngModel)]="addEmployee.jobTitle" required minlength="4" class="form-control" placeholder="jobTitle">
                </div>
                <div class="form-group">
                   <label for="phone">Phone</label>
                   <input matInput type="text" name="title" #title="ngModel" [(ngModel)]="addEmployee.phone" required minlength="4" class="form-control" placeholder="Phone">
                </div>
                <div class="form-group">
                   <label for="phone">Image URL</label>
                   <input matInput type="text" name="title" #title="ngModel" [(ngModel)]="addEmployee.imageUrl" required minlength="4" class="form-control" placeholder="image">
                </div>
                <div class="modal-footer">
                   <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                   <button (click)="addEmloyee()" data-dismiss="modal" class="btn btn-primary" >Save</button>
                </div>
             </form>
       </div>
    </div>
  </div>